#sign-up-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#email-input {
  margin-top: 2%;
  margin-bottom: 2%;
  height: 2%;
}

#password-input {
  margin-bottom: 
  2%;
}

#login-link {
  margin-top: 2%;
}

#error {
  color: red;
}